language: node_js
node_js:
  - "14.8.0"
cache:
  npm: false
install:
  - npm install -D typescript
  - npm install -D tslib
  - npm install -D jest
  - npm install -D ts-jest
  - npm install -D ts-node
script:
  - npm test
jobs:
  include:
    - stage: Produce Coverage
      node_js: node
      script: jest --coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
